.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register-title {
  text-align: center;
  margin-bottom: 10px;
  font-family: monospace;
  color: blue;
}

.register-container {
  padding: 10px 20px;
  border: 3px solid blue;
  margin-top: 20px;
  border-radius: 5px;
}

.register-input {
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.register-button {
  padding: 2px 5px;
  color: blue;
}